<section class="catch-list">
@if(data$) {
    <div class="card-container">
        @for(item of data$ | async; track item) {
            <mat-card class="catch-card">
                <img mat-card-image src="{{item.photo_url}}"  alt="{{item.notes}}" class="card-image">
                    <mat-card-content>     
                        <h2>{{item.species}}</h2>                   
                        @if (item.date_caught) {
                            <p>Date Caught: {{item.date_caught | date}}</p>
                        }
                            @if (item.water_body) {
                                <p>Water Body: {{item.water_body}}</p>
                        }
                            @if (item.lure) {
                            <p>Lure: {{item.lure}}</p>
                        }
                    </mat-card-content>
            </mat-card>
        }
    </div>
}@else {
    <mat-spinner></mat-spinner>
}
</section>