.catch-filters {
    max-width: 1600px;
    margin: 0 auto;
    .filters-container {
       padding-left: 22px;
         padding-right: 22px;
    }
    .filter-description  {
        margin-left: auto;
    }

    .inline-form-container {
        display: flex;
        gap: 1rem; /* Adjust the space between elements as needed */
        align-items: center; /* Aligns items vertically in the center */
    }

    /* Optional: Adjust form field display if necessary, depending on your Angular Material version and theme */
    .inline-form-container mat-form-field, mat-button {
        display: inline-block;
        vertical-align: middle;
    }
    .filter-title {
        margin-left: 6px;
    }

    /* Mobile responsiveness */
    @media (max-width: 768px) {
        .inline-form-container {
            flex-direction: column;
            align-items: stretch;
        }

        .inline-form-container mat-form-field {
            width: 100%;
        }

        .inline-form-container button {
            width: 100%;
        }
    }
}