<div class="highlight-wrapper">
  <mat-card class="hero-card">
    <img mat-card-image src="/images/header.png"  alt="Silhouette of Dave fishing on a boat at sunrise" class="hero-image">
    <mat-card-content>
      <h1>Welcome to Dave's Fishing Diaries</h1>
      <p>
        A personal diary of early mornings, changing seasons, and time on the water.  Fishing is where my head gets quiet - a place to slow down and be present.  I started this journal to capture those moments and share them with friends and family.  I hope you find something here that inspires you to get outside and enjoy the water too.  #Tightlines
      </p>
    </mat-card-content>
  </mat-card>
</div>
